* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    padding: 100px 0px 100px 0px;
    height: 100%;
    background-color: #303035;
}

.container {
    background-color: white;
    height: 480px;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
}

.box {
    height: 150px;
    width: 150px;
    margin: 3px;
    border-radius: 5px;
    background-color: #303035;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130px;
    text-align: center;
    color: white;
}

.main-container {
    width: fit-content;
    height: fit-content;
    margin: auto;
    position: relative;
}

.slash {
    position: absolute;
    width: 450px;
    height: 10px;
    background-color: greenyellow;
    border-radius: 3px;
    box-shadow: 0px 0px 10px green;
}

.h-slash {
    left: 3%;
}

.h1 {
    top: 15%;
}

.h2 {
    top: 49%;
}

.h3 {
    top: 82%;
}

.v-slash {
    top: 49%;
    transform: rotate(90deg);
}

.v1 {
    left: -30.5%;
}

.v2 {
    left: 3.3%;
}

.v3 {
    left: 37%;
}

.d-slash {
    width: 600px;
    left: -12%;
    top: 49%;
}

.d1 {
    transform: rotate(45deg);
}


.d2 {
    transform: rotate(135deg);
}

#winner {
    height: 200px;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: #757575;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: none;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 50px;
}

.score {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
    bottom: 0%;
    z-index: -1;
}

.player {
    width: 150px;
    height: 150px;
    position: relative;
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.player-head {
    transform: translateX(-50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    left: 75px;
    top: 10px;
}

.player-body {
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    padding-top: 5px;
    text-shadow: 0 0 5px white;
    border-radius: 50% 50% 0% 0%;
    position: absolute;
    left: 75px;
    bottom: -30px;
}

.playerX-color {
    background-color: rgb(230, 41, 41);
}

.playerO-color {
    background-color: rgb(70, 179, 223);
}
.won{
    height: 100px;
    width: 150px;
    border: solid;
    position: absolute;
    bottom: 100%;
    padding-top: 10px;
    font-size: 25px;
    border-radius: 5px;
    background-color: #242428;
    box-shadow: 0 0 10px black;
    /* display: none; */
    animation-name: winner-note;
    animation-duration: 1.5s;
    z-index: 1;
}

@keyframes winner-note {
    from{
        bottom: 40%;
    }
    to{
        bottom: 100%;
        opacity: 1;
    }
}